# SPDX-License-Identifier: GPL-2.0
#
# OPLUS scheduler assist configuration
#

config OPLUS_FEATURE_SCHED_ASSIST
	bool "OPLUS scheduler assist"
	default n
	help
	  Enable scheduler assist feature for OPLUS device.
	  Including ui thread scheduling optimization,
	  render thread scheduling optimization and
	  animation optimization.